OAUTH2_PROXY_OIDC_ISSUER_URL="https://dev-xxxxxx.oktapreview.com"
OAUTH2_PROXY_CLIENT_ID="xxxxxxxxxxx"
OAUTH2_PROXY_CLIENT_SECRET="yyyyyyyyyyyy"
OAUTH2_PROXY_COOKIE_SECRET=111118pW6kNr4ICj4TmTSg
OAUTH2_PROXY_PROVIDER_DISPLAY_NAME="My OKTA"
OAUTH2_PROXY_EXTRA_JWT_ISSUERS=https://dev-xxxxxx.oktapreview.com=xxxxxxxxxxx